.room-preview {
    display: grid;
    flex-direction: column;
    width: 150px;
    height: 150px;
    border: 1px solid gray;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

#game-page {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.left-block {
    width: 300px;
    height: 100%;
    display: grid;
    align-content: flex-start;
    border-right: 1px solid gray;
}

.left-block .top-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    align-items: center;
}

.left-block .top-block p {
    margin: 20px auto;
}

.user-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    overflow-y: auto;
}

.user-card {
    width: 80%;
    margin-bottom: 25px;
}

.user-info {
    display: flex;
    margin-bottom: 10px;
}

.user-info .status {
    margin-right: 20px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-flex;
}

.ready-status-red {
    background: tomato;
}

.ready-status-green {
    background: greenyellow;
}

.ready-status-winner {
    background: goldenrod;
}

.ready-status-done {
    background: green;
}

.user-progress {
    width: 100%;
    height: 30px;
    border: 1px dashed black;
}

.right-block {
    display: flex;
    flex-flow: column;
    width: 60%;
    height: 80%;
    border: 1px solid gray;
    margin: auto;
    align-items: flex-end;
}

.timer-block {
    color: gray;
    justify-content: flex-end;
    margin: 20px;
}

.text-container {
    max-width: 50%;
    margin: auto;
}

.text-container .span {
    letter-spacing: 1px;
    color: #1f2324;
}


.next {
    border-bottom: 1px solid black;
}

.progress {
    height: 100%;
}

#timer {
    font-size: xx-large;
    color: black;
}